<div class="album">
  <h1 class="album__heading">
    Also in the Album "<%= album.name %>"
  </h1>
  <div class="album__body">
    <% album.ordered_pictures.each do |picture| %>
      <% unless picture.id == picture_id %>
        <div class="album__albumable">
          <%= link_to(
            image_tag(
              picture.picture.url(:mini_thumbnail),
              alt: picture.name,
              width: '75',
              height: '75'
            ),
            picture_path(picture)
          ) %>
        </div>
      <% end %>
    <% end %>
    <% album.ordered_videos.each do |video| %>
      <% unless video.id == video_id %>
        <div class="album__albumable">
          <%= link_to(
            image_tag(
              video.video_picture.url(:mini_thumbnail),
              alt: video.name,
              width: '75',
              height: '75'
            ),
            video_path(video)
          ) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
