<div class="form-group">
  <%= f.label :download, 'Download*' %>
  <% if @download.download? %>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :download, class: 'form-control' %>
</div>
