<div class="form-group">
  <%= f.label :download_picture, 'Download Picture' %>
  <% if download.download_picture? %>
    <p><%= show_picture download, 'download_picture', :thumbnail %></p>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :download_picture, class: 'form-control' %>
  <%= render 'admin/shared/form/image_type_warning' %>
</div>
