<% if page.chapters.count > 0 %>
  <div class="literature-chapters">
    <h1 class="literature-chapters__heading">Table of Contents:</h1>
    <ul class="literature-chapters__list">
      <% page.chapters.each do |chapter| %>
        <li class="literature-chapters__list-item">
          <%= link_to(
            chapter.name,
            literature_chapter_path(page.to_param, chapter.to_param)
          ) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
