<% if page.chapters.count > 0 %>
  <h2>Table of Contents:</h2>
  <ul>
    <% page.chapters.each do |chapter| %>
      <li>
        <%= link_to(
          chapter.name, literature_chapter_path(page.to_param, chapter.to_param)
        ) %>
      </li>
    <% end %>
  </ul>
<% end %>
