<div class="form-group">
  <%= f.label :page_type, 'Page Type*' %>
  <%=
    f.collection_select(
      :page_type,
      Page::PAGE_TYPES,
      :to_s,
      :titleize,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
</div>
