<div class="form-group">
  <%= f.label :parent_page_id, 'Parent Page' %>
  <%= f.collection_select(
      :parent_page_id,
      parent_pages,
      :id,
      :name_and_id,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
  <%=
    render(
      partial: 'admin/shared/form/info',
      locals: {
        info: 'Used to group a set of related chapters (sub pages).'
      }
    )
  %>
</div>
