 <div class="form-group">
  <%= f.label :discourse_username, 'Discourse Username' %>
  <%= f.text_field :discourse_username, class: 'form-control' %>
  <small>
    The contributor's username on Panzer Dragoon Legacy's forum.
  </small>
</div>
