<div class="form-group">
  <%= f.label :fediverse_username, 'Fediverse Username' %>
  <%= f.text_field :fediverse_username, class: 'form-control' %>
  <%=
    render(
      partial: 'admin/shared/form/info',
      locals: {
        info: "E.g. username@mastodon.social (leave off the @ prefix)"
      }
    )
  %>
</div>
