<% unless @articles.count == 0 %>
  <h2>Articles</h2>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.name, article %>
        <% if !article.publish %>
           - <span class="unpublished">Unpublished</span>
        <% elsif !article.category.publish %>
           - <span class="unpublished">Published in Unpublished Category</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
