<% unless @news_entries.count == 0 %>
  <h2>News Entries</h2>
  <ul>
    <% @news_entries.each do |news_entry| %>
      <li>
        <%= link_to news_entry.name, news_entry %>
        <% if !news_entry.publish %>
           - <span class="unpublished">Unpublished</span>
        <% elsif !news_entry.category.publish %>
           - <span class="unpublished">Published in Unpublished Category</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
