<% unless @stories.count == 0 %>
  <h2>Stories</h2>
  <ul>
    <% @stories.each do |story| %>
      <li>
        <%= link_to story.name, story %>
        <% if !story.publish %>
           - <span class="unpublished">Unpublished</span>
        <% elsif !story.category.publish %>
           - <span class="unpublished">Published in Unpublished Category</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
