<% if @dragoon %>
  <% title "#{@dragoon.name}'s Quizzes" %>
<% else %>
  <% title "Quizzes" %>
<% end %>

<% if policy(Quiz).new? %>
  <ul class="administration">
    <li><%= link_to 'New Quiz', new_quiz_path %></li>
  </ul>
<% end %>

<% if @quizzes %>
  <div id="resources">
    <% @quizzes.each do |quiz| %>
      <div class="resource">
        <div class="details">
          <h2><%= link_to quiz.name, quiz %></h2>
          <% unless quiz.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= quiz.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @quizzes %>
<% end %>
