<div class="form-group">
  <label>Videos</label>
  <%= f.fields_for :videos do |video| %>
    <%= render 'video', f: video %>
  <% end %>
  <p>
    <%=
      link_to_add_association(
        'Add Video',
        f,
        :videos,
        role: 'button',
        class: 'btn btn-success',
        partial: 'video'
      )
    %>
  </p>
</div>
