# Git
.git
.gitignore

# Logs
log/*

# Temp files
tmp/*

# Environment variables
.env

# macOS system files
.DS_Store

# Editor files
.vscode

# Paperclip attachments
public/system/*

# Copying these files sometimes causes issues when building Docker container.
# We *do* want to include the public/assets folder since this should contain
# production assets.
node_modules
public/packs
