# Ignore OSX hidden file.
.DS_Store

# Ignore Visual Studio Code configuration
.vscode

# Ignore files containing sensitive information.
/config/database.yml
/config/secrets.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore Paperclip attachments directory.
/public/system/*

# Ignore compiled assets directory.
/public/assets/*
