version: '3'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/cms
      - public_data:/cms/public
    env_file:
      - .env
    environment:
      - WEBPACKER_DEV_SERVER_HOST=webpacker
  webpacker:
    build: .
    environment:
      - NODE_ENV=development
      - RAILS_ENV=development
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
    command: ./bin/webpack-dev-server
    volumes:
      - .:/cms
    ports:
      - '3035:3035'
  database:
    image: postgres:13.5-alpine
    volumes:
      - database_data:/var/lib/postgresql/data
    env_file:
      - .env
volumes:
  database_data:
  public_data:
