<% title @title %>

<% @comments.each do |comment| %>
  <div>
	  <p>Author: <%= link_to comment.dragoon.name, dragoon_path(comment.dragoon) %></p>
	  <p>Comment: <%= comment.message %></p>
  </div>
<% end %>

<%= paginate @comments %>