<% title @title %>

<% if can? :create, Download %>
  <ul class="administration">
    <li><%= link_to 'New Download', new_download_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <h2>Download Categories</h2>
  <ul class="categories">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category %><% unless category.publish %> - <span class="unpublished">Unpublished</span><% end %></li>
  <% end %>
  </ul>
  <h2>All Downloads</h2>
<% end %>

<%= render 'list' %>