<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Downloads" %>
<% else %>
  <% title 'Downloads' %>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @category_groups.present? %>
    <h2>Download Categories</h2>
    <%=
      render(
        partial: 'site_map/category_groups',
        locals: { category_groups: @category_groups }
      )
    %>
  <% end %>

  <% if @downloads.present? %>
    <h2>All Downloads</h2>
  <% end %>
<% end %>

<%= render 'list' %>
