<div id="resources">
  <% @shares.each do |share| %>
    <div class="resource">
      <div class="thumbnail">
        <%= raw show_embedded_share(share.url) %>
      </div>
      <div class="details">
        <% if share.publish %>
          Shared by <%= link_to(
            share.contributor_profile.name,
            share.contributor_profile
          ) %>
          <%= local_time_ago share.published_at %>.
        <% else %>
          <p class="unpublished">Unpublished</p>
        <% end %>
        <p><%= share.comment %></p>
      </div>
    </div>
  <% end %>
</div>
