.cards {
  &__footer {
    margin-bottom: var(--size-8);
  }
}

.card {
  margin-bottom: var(--size-3);

  @include card-common-properties;
  @include card-background-colour;

  &__picture {
    display: none; // Todo: revisit this and show thumbnails on cards.
  }
}
