.card {
  margin-bottom: var(--size-5);
  margin-left: var(--size-2);
  margin-right: var(--size-2);
  border-radius: var(--radius-4);
  padding-bottom: var(--size-4);

  @include card-background-colour;

  &__picture {
    padding-top: var(--size-4);
    padding-left: var(--size-4);
    padding-right: var(--size-4);

    img {
      float: left;
      border-radius: var(--radius-3);
      width: var(--size-12);
      height: var(--size-12);
      object-fit: cover;
    }
  }

  &__details--no-picture,
  &__details--has-picture {
    padding: var(--size-4);
    padding-bottom: 0;
    margin-bottom: -15px;
    text-align: left;
  }

  &__details--no-picture {
    padding-top: var(--size-2);
  }

  &__details--has-picture {
    padding-left: calc(var(--size-12) + var(--size-7) + var(--size-2));
  }

  &__heading--no-picture {
    margin-top: var(--size-2);
    margin-bottom: calc(var(--size-2) + var(--size-1));
  }

  &__heading--has-picture {
    margin-top: -25px;
  }

  &__footer {
    clear: both;
  }
}
