.category {
  &__header {
    text-align: center;
  }

  &__picture {
    @include header-picture-container;

    img {
      @include header-picture;
    }
  }

  &__description {
    @include summary-or-description;
    text-align: center;
  }
}

.category-media-types {
  &__list {
    margin: 0;
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    list-style: none;
  }
}
