.gallery {
  &__list,
  &__list--no-albums {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    gap: var(--size-2);
    flex-wrap: wrap;
  }

  &__list--no-albums {
    margin-bottom: var(--size-6);
  }

  &__footer {
    margin-bottom: var(--size-8);
  }
}

.gallery-picture {
  &__picture {
    width: 150px;
    height: 150px;
    
    img {
      border-radius: var(--radius-2);
    }
  }

  &__details {
    text-align: center;
  }

  &__count {
    margin: var(--size-2);
    margin-bottom: var(--size-6);
  }
}
