body {
  padding: 0;
  margin: 0;

  // background-color: var(--gray-2);
  // @media (prefers-color-scheme: dark) {
    background-color: var(--gray-8);
  // }
}

.layout {
  font-family: var(--font-sans);

  &__header {
    background-color: black;
  }

  // color: var(--gray-8);
  // @media (prefers-color-scheme: dark) {
    color: var(--gray-2);
  // }

  &__logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
      max-width: 100vw;
      object-fit: scale-down;
    }

    @media only screen and (max-width: $mobile-max) {
      padding-top: var(--size-1);
    }

    @media only screen and (min-width: $tablet-min) {
      padding-top: var(--size-3);
      margin-bottom: var(--size-3);
    }
  }

  &__site-heading {
    text-align: center;
  }

  &__page-heading {
    font-weight: var(--font-weight-8);
    text-align: center;
  }

  &__page-content {
    font-size: var(--font-size-2);
    letter-spacing: var(--font-letterspacing-1);
    line-height: var(--font-lineheight-3);
    text-align: justify;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $mobile-max) {
      max-width: $mobile-max;
    }

    @media only screen and (min-width: $tablet-min) {
      max-width: $tablet-min // Enough room for two side by side illustrations.
    }

    a {
      color: var(--link-colour);
      text-decoration: none;
    }

    a:hover {
      color: var(--link-hover-colour);
      text-decoration: dotted underline;
    }
  }

  &__footer {
    margin-bottom: var(--size-8);
  }
}
