@mixin header-picture-container {
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin header-picture {
  max-width: 100vw;
  object-fit: cover;

  @media only screen and (max-width: $mobile-max) {
    max-height: var(--size-14);
  }

  @media only screen and (min-width: $tablet-min) {
    max-height: var(--size-15);
  }
}
