$padding-both-sides: calc(var(--size-2) + var(--size-2));

.page {
  &__picture {
    @include header-picture-container;

    img {
      @include header-picture;
    }
  }

  &__chapter-heading {
    padding: 0 var(--size-2);
  }

  &__description {
    @include summary-or-description;
  }

  &__content {
    ul {
      margin: 0;
    }

    li {
      text-align: left;
    }

    h2,
    h3,
    dl,
    pre,
    p {
      padding: var(--size-2);

      @media only screen and (max-width: $mobile-max) {
        // Clear floating images on mobile:
        clear: both;
      }
    }

    blockquote p {
      @include blockquote-paragraph;
    }

    hr {
      border: none;
      border-radius: var(--radius-2);
      height: var(--size-1);
      margin: var(--size-2);

      // background: var(--gray-8);
      // @media (prefers-color-scheme: dark) {
        background: var(--gray-2);
      // }
    }
  }
}

.literature-chapters {
  &__heading {
    margin: var(--size-2);
  }
}

.chapter-navigation {
  clear: both;
  padding-top: var(--size-2);

  &__list {
    list-style: none;
    text-align: center;
    margin-bottom: var(--size-6);
  }

  &__list-item {
    display: inline-block;
    margin-left: var(--size-2);
    margin-right: var(--size-2);
  }
}

.illustration--left,
.illustration--right,
.illustration {
  margin: 0;

  // background-color: var(--gray-3);
  // @media (prefers-color-scheme: dark) {
    background-color: var(--gray-7);
  // }

  @media only screen and (max-width: $mobile-max-plus-padding) {
    max-width: calc(100vw - $padding-both-sides);
    margin-bottom: var(--size-2);

    img {
      max-width: calc(100vw - $padding-both-sides);
    }
  }

  &__image {
    &--legacy,
    &--modern {
      @media only screen and (max-width: $mobile-max-plus-padding) {
        width: 100vw;
        padding: 0;
        margin-bottom: var(--size-00);
      }
    }
  }

  &__caption {
    &--image-missing,
    &--single-image,
    &--double-image,
    &--images-exceeded {
      font-size: var(--font-size-1);
      padding: var(--size-4);
      padding-top: calc(var(--size-2) + var(--size-1));

      @media only screen and (max-width: $mobile-max) {
        text-align: center;
      }
    }
  }
}

.illustration--legacy,
.illustration--modern.illustration--double-image {
  @media only screen and (min-width: $tablet-min-plus-padding) {
    border-radius: var(--radius-2);
    margin: var(--size-2);
    padding: var(--size-2);
    text-align: center;
  }
}

.illustration--modern.illustration--single-image {
  @media only screen and (min-width: $tablet-min-plus-padding) {
    border-radius: var(--radius-2);
    width: calc($tablet-min - $padding-both-sides);
    margin: var(--size-2);
    text-align: center;

    img {
      border-top-left-radius: var(--radius-2);
      border-top-right-radius: var(--radius-2);
      width: calc($tablet-min - $padding-both-sides);
    }
  }
}

.illustration--double-image {
  @media only screen and (min-width: $tablet-min-plus-padding) {
    width: calc($tablet-min - (var(--size-2) * 4));

    img:first-of-type {
      margin-right: 3px;
    }

    img {
      width: calc(($tablet-min / 2) - (var(--size-5) - var(--size-1)));
    }
  }
}

.illustration--left,
.illustration--right {
  @media only screen and (max-width: $mobile-max-plus-padding) {
    width: 100vw;
  }

  @media only screen and (min-width: $tablet-min-plus-padding) {
    padding-top: var(--size-2);
    width: calc(($tablet-min / 2) - (var(--size-2) * 4));

    img {
      width: calc(($tablet-min / 2) - (var(--size-7)));
    }
  }

  .illustration__caption--individual {
    text-align: center;
  }
}

.illustration--left {
  float: left;

  @media only screen and (min-width: $tablet-min-plus-padding) {
    margin-right: var(--size-4);
  }
}

.illustration--right {
  float: right;

  @media only screen and (min-width: $tablet-min-plus-padding) {
    margin-left: var(--size-4);
  }
}

.caption-alignment {
  &--top,
  &--left,
  &--bottom,
  &--right {
    font-weight: var(--font-weight-7);
    margin-right: var(--size-1);

    &:after {
      content: ":";
    }
  }

  &--bottom,
  &--right {
    margin-left: var(--size-1);
  }

  @media only screen and (min-width: $tablet-min-plus-padding) {
    &--top,
    &--bottom {
      display: none;
    }
  }

  @media only screen and (max-width: $mobile-max-plus-padding) {
    &--left,
    &--right {
      display: none;
    }
  }
}
