.picture {
  text-align: center;

  &__picture {
    margin-top: var(--size-4);

    @media only screen and (max-width: $mobile-max-plus-padding) {
      max-width: calc(100vw - $padding-both-sides);

      img {
        max-width: calc(100vw - $padding-both-sides);
        object-fit: scale-down;
      }
    }

    @media only screen and (min-width: $tablet-min-plus-padding) {
      width: $tablet-min;
      margin-left: var(--size-2);
      margin-right: var(--size-2);
    }
  }
}
