:root {
  --background-colour: #000;
  --main-text-colour: #fff;
  --link-colour: #a09682;
  --link-hover-colour: #b5b7b4;
  --block-hover-color: #6600aa;
  --menu-background-colour: #343434;
}

// Viewport sizes
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$laptop-min: 1024px;
$laptop-l: 1440px;
