:root {
  --background-colour: #000;
  --main-text-colour: #fff;
  --link-colour: #a09682;
  --link-hover-colour: #b5b7b4;
  --block-hover-color: #6600aa;
  --menu-background-colour: #343434;
}

// Viewport sizes
$extra-small-viewport: 360px;
$small-viewport: 480px;
$medium-viewport: 768px;
$large-viewport: 1024px;
$extra-large-viewport: 1440px;
