<div class="form-group">
  <%= f.label :news_entry_picture, 'News Entry Picture' %>
  <% if news_entry.news_entry_picture? %>
    <p><%= show_picture news_entry, 'news_entry_picture', :thumbnail %></p>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :news_entry_picture, class: 'form-control' %>
  <%= render 'admin/shared/form/image_type_warning' %>
</div>
