<div class="form-group">
  <%= f.label :news_entry_picture, 'News Entry Picture' %>
  <div class="alert alert-warning" role="alert">
    <%= render 'admin/shared/form/image_type_warning' %>
  </div>
  <% if news_entry.news_entry_picture? %>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :news_entry_picture, class: 'form-control' %>
</div>
