<div class="form-group">
  <%= f.label :post_type, 'Post Type*' %>
  <%=
    f.collection_select(
      :post_type,
      NewsEntry::POST_TYPES,
      :to_s,
      :titleize,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
</div>
