<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Articles" %>
<% else %>
  <% title 'Articles' %>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @category_groups.present? %>
    <h2>Article Categories</h2>
    <%=
      render(
        partial: 'site_map/category_groups',
        locals: { category_groups: @category_groups }
      )
    %>
  <% end %>
  <% if @articles.present? %>
    <h2>All Articles</h2>
  <% end %>
<% end %>

<%= render 'list' %>
