<% if @dragoon %>
  <% title "#{@dragoon.name}'s Articles" %>
<% else %>
  <% title "Articles" %>
<% end %>

<% if policy(Article).new? %>
  <ul class="administration">
    <li><%= link_to 'New Article', new_article_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% if @categories.present? %>
    <h2>Article Categories</h2>
    <ul class="categories">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category %>
          <% unless category.publish %>
            - <span class="unpublished">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @articles.present? %>
    <h2>All Articles</h2>
  <% end %>
<% end %>

<%= render 'list' %>
