<% unless @downloads.count == 0 %>
  <h2>Related Downloads</h2>
  <ul>
    <% @downloads.each do |download| %>
      <li>
        <%= link_to download.name, download %>
        <% if !download.publish %>
           - <span class="unpublished">Unpublished</span>
        <% elsif !download.category.publish %>
           - <span class="unpublished">Published in Unpublished Category</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
