<% unless @pages.count == 0 %>
  <h2>Related Literature</h2>
  <ul>
    <% @pages.each do |page| %>
      <li>
        <%= link_to page.name, literature_path(page) %>
        <% if !page.publish %>
           - <span class="unpublished">Unpublished</span>
        <% elsif !page.category.publish %>
           - <span class="unpublished">Published in Unpublished Category</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
