<% unless @poems.count == 0 %>
  <h2>Related Poems</h2>
  <ul>
    <% @poems.each do |poem| %>
      <li>
        <%= link_to poem.name, poem %>
        <% unless poem.publish %>
           - <span class="unpublished">Unpublished</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
