<% unless @quizzes.count == 0 %>
  <h2>Related Quizzes</h2>
  <ul>
    <% @quizzes.each do |quiz| %>
      <li>
        <%= link_to quiz.name, quiz %>
        <% unless quiz.publish %>
           - <span class="unpublished">Unpublished</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
