<% unless @resources.count == 0 %>
  <h2>Related Resources</h2>
  <ul>
    <% @resources.each do |resource| %>
      <li>
        <%= link_to resource.name, resource %>
        <% if !resource.publish %>
           - <span class="unpublished">Unpublished</span>
        <% elsif !resource.category.publish %>
           - <span class="unpublished">Published in Unpublished Category</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
