<h2>Encyclopaedia Entries in this Category</h2>
<%= render 'encyclopaedia_entries/list' %>
<p>
  <%= link_to 'Site Map', site_map_path %> |
  <%= link_to 'Encyclopaedia', encyclopaedia_entries_path %>
</p>
