<%
  story.chapters.where(chapter_type: :epilogue).order(:number).
    each do |epilogue|
%>
  <tr>
    <td>Epilogue <%= epilogue.number.to_s %></td>
    <td><%= link_to epilogue.name, chapter_path(epilogue) %></td>
    <%= render 'chapter_edit_button', story: story, chapter: epilogue %>
    <%= render 'chapter_delete_button', story: story, chapter: epilogue %>
  </tr>
<% end %>
