<div class="form-group">
  <%= f.label :picture, 'Picture*' %>
  <% if picture.picture? %>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :picture, class: 'form-control' %>
  <%= render 'admin/shared/form/image_type_warning' %>
</div>
