<p class="unpublished">
  This encyclopaedia is no longer maintained and will eventually be deleted.
  Please visit the new community wiki on Fandom,
  <a href="https://panzerdragoon.fandom.com">Panzer Dragoon Wiki</a>, which
  is the new home of this encyclopaedia's content.
</p>
