<% title 'Encyclopaedia' %>

<%= render 'deprecation_notice' %>

<% if @category_groups.present? %>
  <h2>Encyclopaedia Categories</h2>
  <%=
    render(
      partial: 'site_map/category_groups',
      locals: { category_groups: @category_groups }
    )
  %>
<% end %>

<% if @pages.present? %>
  <% unless params[:filter] %>
    <h2>All Encyclopaedia Entries</h2>
  <% end %>
  <%= render 'list', pages: @pages %>
  <%= paginate @pages %>
<% end %>
