<ul class="nav flex-column">
  <li class="nav-item"><%= link_to 'Home', admin_path %></li>
  <li class="nav-item">Category Groups</li>
  <li class="nav-item">Categories</li>
  <li class="nav-item">Albums</li>
  <li class="nav-item">Emoticons</li>
  <li class="nav-item">Pages</li>
  <li class="nav-item">Sagas</li>
  <li class="nav-item">Users</li>
  <li class="nav-item">Contributor Profiles</li>
  <li class="nav-item">Encyclopaedia Entries</li>
  <li class="nav-item">News Entries</li>
  <li class="nav-item"><%= link_to 'Articles', admin_articles_path %></li>
  <li class="nav-item"><%= link_to 'Downloads', admin_downloads_path %></li>
  <li class="nav-item"><%= link_to 'Links', admin_links_path %></li>
  <li class="nav-item">Music Tracks</li>
  <li class="nav-item">Pictures</li>
  <li class="nav-item">Poems</li>
  <li class="nav-item">Quizzes</li>
  <li class="nav-item">Resources</li>
  <li class="nav-item">Stories</li>
  <li class="nav-item">Videos</li>
</ul>
