<div class="col-6">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to 'Panzer Dragoon Legacy Admin Panel', admin_path %>
    </li>
  <ul>
</div>
<div class="col-6">
  <ul class="nav" style="float: right; z-index: 99">
    <li class="nav-item mr-2">
      Logged in as
      <% if current_user.contributor_profile_id %>
        <%= current_user.contributor_profile.name %>
      <% else %>
        <%= current_user.email %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>
