<ul class="video__details">
  <% if @video.published_at %>
    <li>Published <%= local_date @video.published_at %></li>
  <% end %>
  <% unless @video.source_url.blank? %>
    <li>
      <%=
        link_to(
          "Source Video: #{video_source_link_text(@video.source_url)}",
          @video.source_url
        )
      %>
    </li>
  <% end %>
  <% unless @video.youtube_video_id.blank? %>
    <li>
      <%=
        link_to(
          'YouTube (Our Channel)',
          "https://www.youtube.com/watch?v=#{@video.youtube_video_id}"
        )
      %>
    </li>
  <% end %>
  <li><%= link_to 'Download MP4', @video.mp4_video.url %></li>
</ul>
