<% if @dragoon %>
  <% title "#{@dragoon.name}'s Videos" %>
<% else %>
  <% title "Videos" %>
<% end %>

<% if policy(Video).new? %>
  <ul class="administration">
    <li><%= link_to 'New Video', new_video_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% unless @category_groups.empty? or @categories.empty? %>
    <h2>Video Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups, categories: @categories,
      category_group_type: :video } %>
  <% end %>
  <% unless @videos.empty? %>
    <h2>All Videos</h2>
  <% end %>
<% end %>

<%= render 'list' %>
