<div id="modalWindow">
  <div id="modalRow1" class="row">
		<span id="modalLabel1" class="label"></span>
		<div class="formw"><input id="modalInput1" type="text"/></div>
	</div>
	<div id="modalRow2" class="row">
		<span id="modalLabel2" class="label"></span>
  	<div class="formw"><input id="modalInput2" type="text"/></div>
	</div>
	<div id="modalRow3" class="row">
		<span id="modalLabel3" class="label"></span>
		<div class="formw"><input id="modalInput3" type="text"/></div>
	</div>
	<div id="modalRow4" class="row">
		<span id="modalLabel4" class="label"></span>
  	<div class="formw">
			<div class="textareacontainer">
  			<textarea rows="4" id="modalInput4"></textarea>
			</div>
		</div>
	</div>
</div>