<section class="cards">
  <% news_entries.each do |news_entry| %>
    <article class="card">
      <% if news_entry.news_entry_picture.present? %>
        <div class="card__picture">
          <%= link_to(
            show_picture(news_entry, 'news_entry_picture', :embedded),
            news_entry_path(news_entry)
          ) %>
        </div>
      <% end %>
      <%= render(
        partial: 'shared/news_entries/news_entry_details',
        locals: {
          news_entry: news_entry,
          has_picture: news_entry.news_entry_picture.present?
        }
      ) %>
      <div class="card__footer"></div>
    </article>
  <% end %>
  <footer class="news-entries__footer">
    <%= paginate news_entries %>
  </footer>
</section>
