<div class="wysiwym">
  <button class="tagbuttons" id="btnInsertSecondLevelHeading">Second Level Heading</button>
  <button class="tagbuttons" id="btnInsertThirdLevelHeading">Third Level Heading</button>
  <button class="tagbuttons" id="btnInsertManualImageTag">Image</button>
  <button class="tagbuttons" id="btnInsertHorizontalRule">Horizontal Rule</button>
  <button class="tagbuttons" id="btnInsertFootnote">Footnote</button>
</div>