<div class="wysiwym">
  <button class="tagbuttons" id="btnInsertEmphasis">Emphasis</button>
  <button class="tagbuttons" id="btnInsertStrongEmphasis">Strong Emphasis</button>
  <button class="tagbuttons" id="btnInsertTitle">Title</button>
  <button class="tagbuttons" id="btnInsertHyperlink">Link</button>
  <button class="tagbuttons" id="btnInsertBlockQuote">Blockquote</button>
  <button class="tagbuttons" id="btnInsertLists">Unordered List</button>
  <button class="tagbuttons" id="btnInsertOrdenedLists">Ordered List</button>
  <button class="tagbuttons" id="btnInsertDataDefinition">DD List</button>
  <button class="tagbuttons" id="btnInsertCode">Code</button>
</div>