<% title "What's New?" %>
<%= render partial: 'shared/meta_tags' %>

<p class="news_entry_category_selector">
  News |
  <%= link_to 'Contributions', contributions_path %>
</p>

<% if @news_entries %>
  <%= render 'news_entries/list' %>
  <%= paginate @news_entries %>
<% end %>
