<div class="quiz-results">
  <h1 class="quiz-results__heading">Your Answers</h1>
  <ol class="quiz-results__list">
    <% for quiz_question in @quiz.quiz_questions %>
      <li class="quiz-results__list-item">
        <span class="quiz-result__question"><%= quiz_question.content %></span>
        <% for quiz_answer in quiz_question.quiz_answers %>
          <% if chosen_answer(quiz_question, quiz_answer) %>
            <span class="quiz-result__answer">
              Your Answer: <%= quiz_answer.content %>
            </span>
            <% if quiz_answer.correct_answer? %>
              <span class="quiz-result__correct-answer">Correct!</span>
            <% else %>
              <span class="quiz-result__incorrect-answer">Incorrect!</span>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ol>
  <p class="quiz_results__score">
    Your Score: <%= "#{score.to_s} out of #{@quiz.quiz_questions.count.to_s}" %>
  </p>
</div>
