<div class="form-group">
  <%= f.label :information, 'Information Box' %>
  <%= f.text_area :information, rows: 10, class: 'form-control' %>
  <small>
    <%=
      image_tag(
        'markdown-mark.png',
        alt: 'Markdown Mark',
        width: '30px',
        height: '18px'
      )
    %>
    You may use a <a href="/markdown-syntax-guide" target="_blank">Markdown
    description list</a> to format the tag's information box.
  </small>
</div>
