<% if params[:filter] == 'draft' %>
  <% title "Draft Pages" %>
<% else %>
  <% title "Pages" %>
<% end %>

<% if policy(Page).new? %>
  <ul class="administration">
    <li><%= link_to 'New Page', new_page_path %></li>
  </ul>
<% end %>

<%= render 'list' %>
