<% title "Pages" %>

<% if policy(Page).new? %>
  <ul class="administration">
    <li><%= link_to 'New Page', new_page_path %></li>
  </ul>
<% end %>

<%= render 'list' %>
<%= paginate @pages if @pages %>
