<% title "Pages" %>

<% if policy(Page).new? %>
  <ul class="administration">
    <li><%= link_to 'New Page', new_page_path %></li>
  </ul>
<% end %>

<% if @pages %>
  <div id="resources">
    <% @pages.each do |page| %>
      <div class="resource">
        <div class="details">
          <h2><%= link_to page.name, page %></h2>
          <% unless page.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= truncated_text page.content %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pages %>
<% end %>
