<li class="category-media-types__list-item">
  <h1 class="category-media-type__heading"><%= friendly_media_type %></h1>
  <ul class="category-subcategories__list">
    <% category.categorisations.each do |categorisation| %>
      <% if categorisation.subcategory.category_type == media_type %>
        <li class="category-subcategories__list-item">
          <%= link_to(
            categorisation.short_name_in_parent,
            categorisation.subcategory
          ) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</li>
