<div class="category-media-types">
  <ul class="category-media-types__list">
    <% MediaType::all.each do |key, value| %>
      <% if category_has_subcategories_of_media_type(category, key.to_s) %>
        <li class="category-media-types__list-item">
          <h1 class="category-media-type__heading"><%= value %></h1>
          <ul class="category-subcategories__list">
            <% category.categorisations.each do |categorisation| %>
              <% if categorisation.subcategory.category_type == key.to_s %>
                <li class="category-subcategories__list-item">
                  <%= link_to(
                    categorisation.short_name_in_parent,
                    categorisation.subcategory
                  ) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
