<% title "Projects" %>

<% if can? :create, Project %>
  <ul class="administration">
    <li><%= link_to 'New Project', new_project_path %></li>
  </ul>
<% end %>

<% unless @projects.empty? %>
  <div id="resources">
    <% @projects.each do |project| %>
      <div class="resource">
        <div class="details">
          <h2><%= link_to project.name, project %></h2>
          <p><%= project.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>