<% title @title %>

<% if can? :create, Link %>
  <ul class="administration">
    <li><%= link_to 'New Link', new_link_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% unless @categories.empty? %>
    <h2>Link Categories</h2>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category %><% unless category.publish %> - <span class="unpublished">Unpublished</span><% end %></li>
      <% end %>
    </ul>
  <% end %>
  <% unless @links.empty? %>
    <h2>All Links</h2>
  <% end %>
<% end %>

<%= render 'list' %>