<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Links" %>
<% else %>
  <% title 'Links' %>
<% end %>

<% if policy(Category).new? || policy(Link).new? %>
  <ul class="administration">
    <% if policy(Category).new? %>
      <li>
        <%= link_to 'New Category', new_category_path(category_type: :link) %>
      </li>
    <% end %>
    <% if policy(Link).new? %>
      <li><%= link_to 'New Link', new_link_path %></li>
    <% end %>
  </ul>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @categories.present? %>
    <h2>Link Categories</h2>
    <ul>
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.name, category %>
          <% unless category.publish %>
             - <span class="unpublished">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @links.present? %>
    <h2>All Links</h2>
  <% end %>
<% end %>

<%= render 'list' %>
