<% unless @music_tracks.empty? %>
  <div id="resources">
		<% @music_tracks.each do |music_track| %>
			<div class="resource">
			  <div class="details">
				  <h2><%= link_to music_track.name, music_track %></h2>
				  <% unless music_track.publish %>
					  <p class="unpublished">Unpublished</p>
					<% end %> 
				  <p><%= music_track.description %></p>
		    </div>
		  </div>
		<% end %>
	</div>
<% end %>

<%= paginate @music_tracks %>