<article class="home-page">
  <div class="home-page__picture">
    <%= link_to(
      show_picture(page, 'page_picture', :original),
      redesign_literature_path(page)
    ) %>
  </div>
  <h1 class="home-page__heading">
    <%= link_to page.name, redesign_literature_path(page) %>
  </h1>
  <footer class="home-page__more">
    <%= link_to(
      'More Literature',
      redesign_contributions_path(media_type: 'literature')
    ) %>
  </footer>
</article>
