<article class="home-video">
  <div class="home-video__picture">
    <%= link_to(
      show_picture(video, 'video_picture', :original),
      redesign_video_path(video)
    ) %>
  </div>
  <h1 class="home-video__heading">
    <%= link_to video.name, redesign_video_path(video) %>
  </h1>
  <footer class="home-video__more">
    <%= link_to(
      'More Videos',
      redesign_contributions_path(media_type: 'videos')
    ) %>
  </footer>
</article>
