<% if draft_picture_count > 0 %>
  <li>
    <%=
      link_to(
        pluralize(draft_picture_count, 'picture'),
        admin_pictures_path + '?q%5Bpublish_false%5D=1'
      )
    %>
  </li>
<% end %>
