<% if draft_contributor_profile_count > 0 %>
  <li>
    <%=
      link_to(
        pluralize(draft_contributor_profile_count, 'contributor profile'),
        admin_contributor_profiles_path + '?q%5Bpublish_false%5D=1'
      )
    %>
  </li>
<% end %>
