<% if draft_news_entry_count > 0 %>
  <li>
    <%=
      link_to(
        pluralize(draft_news_entry_count, 'news entry'),
        admin_news_entries_path(filter: 'draft')
      )
    %>
  </li>
<% end %>
