<% if draft_download_count > 0 %>
  <li>
    <%=
      link_to(
        pluralize(draft_download_count, 'download'),
        admin_downloads_path + '?q%5Bpublish_false%5D=1'
      )
    %>
  </li>
<% end %>
