<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Resources" %>
<% else %>
  <% title 'Resources' %>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @category_groups.present? %>
    <h2>Resource Categories</h2>
    <%=
      render(
        partial: 'site_map/category_groups',
        locals: { category_groups: @category_groups }
      )
    %>
  <% end %>
  <% if @resources.present? %>
    <h2>All Resources</h2>
  <% end %>
<% end %>

<%= render 'list' %>
