<% title @title %>

<% if can? :create, Resource %>
  <ul class="administration">
    <li><%= link_to 'New Resource', new_resource_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% unless @categories.empty? %>
    <h2>Resource Categories</h2>
    <ul class="categories">
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category %><% unless category.publish %> - <span class="unpublished">Unpublished</span><% end %></li>
    <% end %>
    </ul>
  <% end %>
  <% unless @resources.empty? %>
    <h2>All Resources</h2>
  <% end %>
<% end %>

<%= render 'list' %>