<% if @dragoon %>
  <% title "#{@dragoon.name}'s Resources" %>
<% else %>
  <% title "Resources" %>
<% end %>

<% if policy(Resource).new? %>
  <ul class="administration">
    <li><%= link_to 'New Resource', new_resource_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% unless @category_groups.empty? or @categories.empty? %>
    <h2>Resource Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups, categories: @categories,
      category_group_type: :resource } %>
  <% end %>
  <% unless @resources.empty? %>
    <h2>All Resources</h2>
  <% end %>
<% end %>

<%= render 'list' %>
