<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Resources" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Resources" %>
<% else %>
  <% title "Resources" %>
<% end %>

<% if policy(Resource).new? %>
  <ul class="administration">
    <li><%= link_to 'New Resource', new_resource_path %></li>
  </ul>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @category_groups.present? %>
    <h2>Resource Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups } %>
  <% end %>
  <% if @resources.present? %>
    <h2>All Resources</h2>
  <% end %>
<% end %>

<%= render 'list' %>
