<% if categories.present? %>
  <ul>
    <% categories.each do |category| %>
      <% if policy(category).show? %>
        <li>
          <%= link_to category.name, category %>
          <% unless category.publish %>
             - <span class="unpublished">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
