<% if category_groups.present? %>
  <ul>
    <% category_groups.each do |category_group| %>
      <% if policy(category_group).show? %>
        <li>
          <h3><%= category_group.name %></h3>
          <%=
            render(
              partial: 'site_map/categories',
              locals: {
                categories: category_group.categories.order(:name),
                category_parent: :media_type
              }
            )
          %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
