<% if categories.present? %>
  <ul>
    <% categories.each do |category| %>
      <% if policy(category).show? %>
        <li>
          <% if defined? category_parent %>
            <% if category_parent == :saga %>
              <%= link_to category.short_name_for_saga, category %>
            <% elsif category_parent == :category_group %>
              <%= link_to category.short_name_for_media_type, category %>
            <% end %>
          <% end %>
          <% unless category.publish %>
             - <span class="unpublished">Unpublished</span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
