.cards {
  margin-block: var(--size-2);

  &__footer {
    @media only screen and (max-width: $mobile-max) {
      margin-top: var(--size-5);
    }
  }
}

.card {
  margin-left: var(--size-2);
  margin-right: var(--size-2);
  border-radius: $card-radius;

  @media only screen and (max-width: $mobile-max) {
    padding-bottom: var(--size-3);
    margin-bottom: var(--size-2);
  }

  @media only screen and (min-width: $tablet-min) {
    padding-bottom: var(--size-4);
    margin-bottom: var(--size-5);
  }

  @include card-background-colour;

  &__picture {
    @media only screen and (max-width: $mobile-max) {
      img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
        max-height: var(--size-13);
      }
    }

    @media only screen and (min-width: $tablet-min) {
      padding-top: var(--size-4);
      padding-left: var(--size-4);
      padding-right: var(--size-4);

      img {
        float: left;
        border-radius: calc(var(--radius-2) + var(--radius-1));
        width: var(--size-12);
        height: var(--size-12);
        object-fit: cover;
      }
    }
  }

  &__details--no-picture,
  &__details--has-picture {
    padding: var(--size-4);
    padding-bottom: 0;
    text-align: left;

    @media only screen and (min-width: $tablet-min) {
      margin-bottom: -15px;
    }
  }

  &__details--no-picture {
    @media only screen and (max-width: $mobile-max) {
      padding-top: var(--size-1);
    }

    @media only screen and (min-width: $tablet-min) {
      padding-top: var(--size-2);
    }
  }

  &__details--has-picture {
    @media only screen and (max-width: $mobile-max) {
      padding-top: var(--size-7);
    }

    @media only screen and (min-width: $tablet-min) {
      padding-left: calc(var(--size-12) + var(--size-7) + var(--size-2));
    }
  }

  &__heading--no-picture {
    margin-top: var(--size-2);
    font-size: var(--font-size-3);

    @media only screen and (max-width: $mobile-max) {
      margin-bottom: 0;
    }

    @media only screen and (min-width: $tablet-min) {
      margin-bottom: calc(var(--size-2) + var(--size-1));
    }
  }

  &__heading--has-picture {
    margin-top: -25px;
    font-size: var(--font-size-3);
  }

  &__footer {
    clear: both;
  }
}
