.category {
  &__header {
    text-align: center;
  }

  &__picture {
    @include header-picture-container;

    img {
      @include header-picture;
    }
  }

  &__description {
    margin-top: calc(var(--size-1) + var(--size-2));
    @include summary-or-description;
    text-align: center;
  }
}

.category-media-types {
  &__list {
    margin: 0;
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    list-style: none;
  }
}

.category-subcategories {
  &__list--for-sub-category {
    list-style: none;
    padding-left: var(--size-2);
    padding-right: var(--size-2);
  }

  &__list--for-media-type {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
