.home-featured-news-entry {
  margin: var(--size-2);
  margin-top: var(--size-5);
  border-radius: $card-radius;
  text-align: left;

  @include card-background-colour;

  &__picture {
    img {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: $card-radius;
      border-top-right-radius: $card-radius;

      @media only screen and (max-width: $mobile-max) {
        max-height: var(--size-13);
      }

      @media only screen and (min-width: $tablet-min) {
        max-height: var(--size-14);
      }
    }
  }

  &__heading {
    font-size: var(--font-size-3);
    margin: var(--size-2) var(--size-4);
  }

  &__body {
    padding-bottom: var(--size-1);
  }

  &__date {
    font-size: var(--font-size-1);
    margin: var(--size-4);
  }

  &__summary {
    font-size: var(--font-size-2);
    margin: var(--size-4);
  }
}

.home-pictures {
  padding-top: var(--size-5);
  padding-bottom: var(--size-2);
  margin: var(--size-2);
  margin-top: var(--size-5);
  border-radius: $card-radius;
  text-align: center;

  @include card-background-colour;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    gap: var(--size-2);
    flex-wrap: wrap;
  }

  &__more {
    margin-top: var(--size-4);
    margin-bottom: var(--size-3);
    font-size: var(--font-size-1);
  }
}

.home-picture {
  &__picture {
    width: 150px;
    height: 150px;

    img {
      border-radius: $image-radius;
    }
  }
}

.home-page,
.home-music-track,
.home-video,
.home-download {
  margin: var(--size-2);
  margin-top: var(--size-5);
  border-radius: $card-radius;
  text-align: center;
  padding-bottom: var(--size-2);

  @include card-background-colour;

  &__picture {
    img {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: $card-radius;
      border-top-right-radius: $card-radius;

      @media only screen and (max-width: $mobile-max) {
        max-height: var(--size-13);
      }

      @media only screen and (min-width: $tablet-min) {
        max-height: var(--size-14);
      }
    }
  }

  &__heading {
    font-size: var(--font-size-3);
    margin: var(--size-2) var(--size-4);
  }

  &__more {
    margin-top: var(--size-4);
    margin-bottom: var(--size-3);
    font-size: var(--font-size-1);
  }
}

.home-news-entries {
  margin-top: var(--size-5);
}
