div#information {
  border-radius: 10px;
  width: 298px;
  float: right;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
  border: $border-properties;
  background-color: $input-background-colour;
  background: linear-gradient(to top, #343434, #454545);

  img {
    border-radius: 10px;
    padding: 9px;
  }

  dl {
    margin-top: 0;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    clear: both;
  }

  dt {
    float: left;
    width: 140px;
    font-weight: bold;
  }

  dd {
    margin-left: 140px;
  }

  a {
    color: $link-colour-1;
  }
}

div.left {
  border-radius: 10px;
  width: 298px;
  text-align: center;
  float: left;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
  border: $border-properties;
  background-color: #343434;
  background: linear-gradient(to top#343434, #454545);
  padding-bottom: 10px;

  img {
    padding: 9px;
    border: 0;
  }

  p {
    @include caption-properties;
  }
}

div.right {
  border-radius: 10px;
  width: 298px;
  text-align: center;
  float: right;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
  border: $border-properties;
  background-color: $input-background-colour;
  background: linear-gradient(to top, #343434, #454545);
  padding-bottom: 10px;

  img {
    padding: 9px;
    border: 0;
  }

  p {
    @include caption-properties;
  }
}

div.sidebyside {
  width: 621px;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.sidebysideleft {
  border-radius: 10px;
  width: 298px;
  text-align: center;
  float: left;
  padding-bottom: 10px;
  border: $border-properties;
  background-color: $input-background-colour;
  background: linear-gradient(to top, #343434, #454545);

  img {
    padding: 9px;
    border: 0;
  }

  p {
    @include caption-properties;
  }
}

div.sidebysideright {
  border-radius: 10px;
  width: 298px;
  text-align: center;
  margin-left: 323px;
  padding-bottom: 10px;
  border: $border-properties;
  background-color: $input-background-colour;
  background: linear-gradient(to top, #343434, #454545);

  img {
    padding: 9px;
    border: 0;
  }

  p {
    @include caption-properties;
  }
}

div#popover_illustration {
  border: $border-properties;
  background-color: $input-background-colour;
  background: linear-gradient(to top, #343434, #454545);
  display: none;
  position: fixed;
  border-radius: 10px;
  width: 700px;
  top: 5%;
  float: left;
  margin-left: 125px;

  img {
    padding: 37px;
    padding-top: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 37px;
    padding-left: 37px;
    padding-right: 37px;
    line-height: 2;
    text-align: center;
  }

  button {
    margin-right: 6px;
    margin-top: 4px;
    padding: 6px;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: white;
  }

  button:hover {
    color: $link-colour-1;
  }
}
