.news-entries {
  &__footer {
    @media only screen and (max-width: $mobile-max) {
      margin-top: var(--size-5);
    }
  }
}

.news-entry {
  &__header {
    text-align: center;
  }

  &__picture {
    @include header-picture-container;

    img {
      @include header-picture;
    }
  }

  &__contributor {
    display: inline-flex;
    gap: var(--size-3);
    display: inline-flex;
    justify-content: center;
  }

  &__contributor-avatar {
    img {
      border-radius: var(--radius-round);
    }
  }

  &__contributor-name {
    margin-top: var(--size-5);
  }

  &__date {
    margin-block: var(--size-3);
  }

  &__summary {
    @include summary-or-description;
  }

  &__content {
    p,
    dl {
      padding: var(--size-2);
    }

    li {
      padding-right: var(--size-4);
    }

    dt {
      clear: both;
      font-weight: bold;
    }

    dt:after {
      content: ":";
    }

    blockquote p {
      @include blockquote-paragraph;
    }

    // Prevent YouTube videos and other embedded content from breaking mobile
    // layout:
    .onebox {
      margin: var(--size-2);

      iframe {
        width: 100%;
      }
    }
  }

  &__picture-container {
    margin-top: var(--size-4);
    padding-bottom: 0;
    text-align: center;

    img {
      @media only screen and (max-width: $mobile-max) {
        width: 100vw;
        object-fit: scale-down;
      }
    }

    @media only screen and (min-width: $tablet-min) {
      width: $tablet-min;
      margin-left: var(--size-2);
      margin-right: var(--size-2);
    }
  }

  &__audio-container {
    text-align: center;
  }

  &__video-container {
    video {
      @media only screen and (max-width: $mobile-max) {
        width: 100vw;
      }

      @media only screen and (min-width: $tablet-min) {
        width: $tablet-min;
        margin-left: var(--size-2);
        margin-right: var(--size-2);
      }
    }
  }

  &__audio-details,
  &__video-details {
    text-align: center;
    margin-top: 0;
    padding: 0 var(--size-2);
  }
}

.news-entry-years {
  text-align: center;

  &__feed {
    i {
      margin-left: var(--size-1);
    }
  }

  &__heading {
    padding: var(--size-2);
  }

  &__list {
    margin: 0;
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    list-style: none;
  }
}
