// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search input {
  float: left;
  margin-left: 25px;
  margin-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  width: 208px;
  height: 6px;
  background-color: $input-background-colour;
  color: $main-text-colour;
  outline: none;
}
