.search {
  background-color: var(--menu-background-colour);

  input {
    font-family: var(--font-sans);
    background-color: var(--link-colour);
    border: 0;
    padding: var(--size-1);
    border-radius: var(--radius-2);
    color: black;
    user-select: text;
  }

  input::placeholder {
    color: var(--gray-8);
  }

  input::selection {
    background-color: var(--link-colour);
    color: var(--gray-8);
  }
}
