.tag {
  &__header {
    text-align: center;
  }

  &__picture {
    @include header-picture-container;

    img {
      @include header-picture;
    }
  }

  &__description {
    @include summary-or-description;
  }

  &__extra-information {
    text-align: justify;
    padding: 0 var(--size-2);
  }

  &__wiki-link {
    text-align: center;
  }
}

.tagged-content {
  padding: 0 var(--size-2);
}
