$link-colour-1: #b5b7b4;
$link-colour-2: #a09682;
$main-text-colour: #eeeeee;
$main-font-size: 13px;
$good-text: #00ff44;
$alert-text: #ffaa00;
$bad-text: #ff2200;
$border-properties: 1px solid #333333;
$header-background-colour: #111111;
$input-background-colour: #343434;
