.video {
  text-align: center;

  &__video {
    margin: var(--size-5) 0;

    @media only screen and (max-width: $mobile-max-plus-padding) {
      width: calc(100vw - $padding-both-sides);

      video {
        width: calc(100vw - $padding-both-sides);
      }
    }

    @media only screen and (min-width: $tablet-min-plus-padding) {
      video {
        width: $tablet-min;
      }
    }
  }
}
