<ul class="picture__details">
  <% if @picture.published_at %>
    <li>Published <%= local_date @picture.published_at %></li>
  <% end %>
  <% unless picture.source_url.blank? %>
    <li>
      <%= link_to(
        "View Source: #{picture_source_link_text(picture.source_url)}",
        picture.source_url
      ) %>
    </li>
  <% end %>
  <% unless picture.instagram_post_id.blank? %>
    <li>
      <%= link_to(
        'Instagram (Our Page)',
        "https://www.instagram.com/p/#{picture.instagram_post_id}"
      ) %>
    </li>
  <% end %>
  <li>
    <% if picture.full_size_link %>
      <%= link_to "Download Full Size Picture", picture.picture.url %>
    <% else %>
      Full size downloads are disabled for this picture.
    <% end %>
  </li>
</ul>
