<div id="resources">
  <% @pictures.each do |picture| %>
    <div class="resource">
      <div class="thumbnail">
        <% if picture.controversial_content? %>
          <%= link_to show_controversial_content_thumbnail, picture %>
        <% else %>
          <%= link_to show_picture(picture, 'picture', :thumbnail), picture %>
        <% end %>
      </div>
      <div class="details">
        <h2><%= link_to picture.name, picture %></h2>
        <% unless picture.publish %>
          <p class="unpublished">Unpublished</p>
        <% end %>
        <p><%= picture.description %></p>
      </div>
    </div>
  <% end %>
</div>
