<% if @dragoon %>
  <% title "#{@dragoon.name}'s Pictures" %>
<% else %>
  <% title "Pictures" %>
<% end %>

<% if policy(Picture).new? %>
  <ul class="administration">
    <li><%= link_to 'New Picture', new_picture_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% unless @category_groups.empty? or @categories.empty? %>
    <h2>Picture Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups, categories: @categories,
      category_group_type: :picture } %>
    </ul>
  <% end %>
  <% unless @pictures.empty? %>
    <h2>All Pictures</h2>
  <% end %>
<% end %>

<%= render 'list' %>
