<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Pictures" %>
<% else %>
  <% title "Pictures" %>
<% end %>

<% if policy(Picture).new? %>
  <ul class="administration">
    <li><%= link_to 'New Picture', new_picture_path %></li>
  </ul>
<% end %>

<% unless params[:contributor_profile_id] %>
  <% if @category_groups.present? %>
    <h2>Picture Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups } %>
    </ul>
  <% end %>
  <% if @pictures.present? %>
    <h2>All Pictures</h2>
  <% end %>
<% end %>

<%= render 'list' %>
