<div class="form-group">
  <label>Subcategories</label>
  <%= f.fields_for(
    :categorisations, f.object.ordered_categorisations
  ) do |categorisation| %>
    <%=
      render(
        partial: 'categorisation',
        locals: { f: categorisation }
      )
    %>
  <% end %>
  <p>
    <%=
      link_to_add_association(
        'Add Subcategory',
        f,
        :categorisations,
        role: 'button',
        class: 'btn btn-success',
        partial: 'categorisation'
      )
    %>
  </p>
</div>
