<div class="form-group">
  <%= f.label :saga, 'Saga' %>
  <%=
    f.collection_select(
      :saga_id,
      @sagas ? @sagas : [],
      :id,
      :name,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
</div>
