<div class="form-group">
  <%= f.label :short_name_for_saga, 'Short Name for Saga' %>
  <%= f.text_field :short_name_for_saga, class: 'form-control' %>
  <%=
    render(
      partial: 'admin/shared/form/info',
      locals: {
        info: 'Used when browsing by saga. This field should generally omit ' \
          "the name of the category's saga."
      }
    )
  %>
</div>
