<div>
  <%= f.submit 'Save and View', class: 'btn btn-primary' %>
  <%=
    f.submit(
      'Save and Continue Editing',
      name: :continue_editing,
      class: 'btn btn-primary'
    )
  %>
</div>
