<div class="form-group">
  <%= f.label :sequence_number, 'Sequence Number*' %>
  <%=
    f.number_field(
      :sequence_number,
      { min: 0, max: 999, class: 'form-control' }
    )
  %>
  <% if defined? info %>
    <%=
      render(
        partial: 'admin/shared/form/info',
        locals: { info: info }
      )
    %>
  <% end %>
</div>
