 <div class="form-group">
  <%= f.label :source_url, 'Source URL' %>
  <%= f.text_field :source_url, class: 'form-control' %>
  <% if defined? info %>
    <%=
      render(
        partial: 'admin/shared/form/info',
        locals: { info: info }
      )
    %>
  <% end %>
</div>
