<div class="form-group">
  <%= f.label :tag_ids, 'Tags (Related Encyclopaedia Entries)' %>
  <%=
    f.collection_select(
      :tag_ids,
      Tag.order(:name),
      :id,
      :name,
      { selected: tag_ids, include_blank: true },
      { multiple: true, class: 'form-control' }
    )
  %>
  <% if defined? info %>
    <%=
      render(
        partial: 'admin/shared/form/info',
        locals: { info: info }
      )
    %>
  <% end %>
</div>
