<% if @chapters %>
  <div id="resources">
    <% @chapters.each do |chapter| %>
      <div class="resource">
        <div class="details">
          <h2><%= link_to chapter.name, chapter %></h2>
          <% unless chapter.publish == true %>
            <p class="unpublished">Unpublished</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
