<% title @special_page.name %>
<% description truncated_text(@special_page.content) %>
<% open_graph_type 'article' %>

<% if policy(@special_page).edit? %>
  <p>
    <%= link_to(
      'Edit Special Page',
      edit_admin_special_page_path(@special_page)
    ) %>
  </p>
<% end %>

<% unless @special_page.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<%=
  raw(
    illustrated_markdown_to_html(
      @special_page.id, 'Special Page', @special_page.content
    )
  )
%>
