label {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border-radius: 10px;
  border: 0;
  width: 603px;
  height: 15px;
  padding: 10px;
  font-size: 13px;
  background-color: $input-background-colour;
  color: $main-text-colour;
  border: $border-properties;
}

input[type="text"].child_input {
  background-color: #252525;
  width: 580px;
  margin-bottom: 10px;
}

textarea {
  border-radius: 10px;
  border: 0;
  width: 603px;
  height: 200px;
  padding: 10px;
  font-size: 13px;
  background-color: $input-background-colour;
  color: $main-text-colour;
  margin-bottom: -5px;
  border: $border-properties;
}

textarea.child_input {
  background-color: #252525;
  width: 580px;
  height: 100px;
  margin-bottom: 10px;
}

textarea.data_entry {
  height: 400px;
}

textarea.status_update {
  height: 100px;
}

.scroll_checkboxes {
  border-radius: 10px;
  border: 0;
  width: 603px;
  height: 200px;
  padding: 10px;
  font-size: 13px;
  background-color: $input-background-colour;
  color: $main-text-colour;
  overflow: auto;
  margin-bottom: 15px;
  border: $border-properties;
}

input[type="checkbox"] {
  width: 25px;
}

.scroll_checkboxes label {
  font-size: 13px;
}

.illustration {
  border-radius: 10px;
  border: 0;
  width: 603px;
  padding: 10px;
  font-size: 13px;
  background-color: $input-background-colour;
  color: $main-text-colour;
  margin-bottom: 15px;
  border: $border-properties;
}

input[type="submit"] {
  height: 35px;
}
