body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  color: $main-text-colour;
  background-color: #535353;
  background: linear-gradient(to bottom, #434343, #535353);

  div#overall {
    width: 950px;
    margin: 0 auto;
    border: $border-properties;
    border-radius: 5px;

    div#header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: $border-properties;
      width: 950px;
      background-color: $header-background-colour;
      background-repeat: no-repeat;
      height: 100px;

      img#logo {
        border: 0;
      }
    }

    div#banner {
      width: 950px;
      height: 180px;
      background-image: url(image_path('banner.jpg'));
      border-bottom: $border-properties;
    }

    div#navigation {
      clear: both;
      width: 950px;
      text-align: right;
      height: 50px;
      background-color: $header-background-colour;
      border-bottom: $border-properties;

      ul {
        margin: 0;
        padding: 15px;
      }

      li {
        display: inline;
        padding: 10px;
        font-size: 14px;
        color: white;
        text-shadow: 2px 2px 2px #252525;
      }

      a {
        color: $main-text-colour;
        text-decoration: none;
      }

      a:hover {
        color: $link-colour-1;
      }
    }

    div#main {
      width: 950px;
      background-color: #3f3f3f;
      overflow: auto;
      border-bottom: $border-properties;

      div#aside {
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
        width: 248px;
        float: left;
        border: $border-properties;
        border-radius: 10px;
        background-color: $input-background-colour;
        background: linear-gradient(to left, #343434, #454545);
        padding-bottom: 10px;

        h3 {
          padding-top: 10px;
          padding-left: 20px;
          text-shadow: 2px 2px 2px $header-background-colour;
        }

        ul {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 0px;
          list-style-type: none;
          line-height: 1.5;
        }
      }

      div#content {
        font-size: $main-font-size;
        width: 625px;
        margin-left: 300px;
        line-height: 2;
        text-align: justify;
        padding-top: 25px;
        padding-bottom: 25px;
        overflow: auto;

        h1 {
          margin-top: -10px;
          font-size: 19px;
          text-shadow: 2px 2px 2px #252525;
        }

        p#description {
          font-size: 16px;
        }

        h2 {
          font-size: 15px;
          clear: both;
          text-shadow: 2px 2px 2px #252525;
        }

        h3 {
          font-size: 13px;
          clear: both;
          font-weight: bold;
        }

        hr {
          text-align: center;
          height: 10px;
          width: 400px;
          border-radius: 5px;
          border: $border-properties;
          background-color: $input-background-colour;
          margin-top: 25px;
          margin-bottom: 25px;
        }

        a {
          color: $link-colour-2;
        }

        div#related_pictures {
          margin-top: 20px;
          padding-bottom: 8px;
          text-align: center;

          a img {
            border-radius: 5px;
            border: 1px solid #333333;
            margin-bottom: -8px;
          }
        }

        div#other_pictures_in_album {
          margin-top: 20px;
          padding-bottom: 8px;
          text-align: left;

          a img {
            border-radius: 5px;
            border: 1px solid #333333;
            margin-bottom: -0px;
            margin-right: 4px;
          }
        }
      }
    }

    div#footer {
      width: 950px;
      height: 35px;
      font-size: 11px;
      background-color: $header-background-colour;
      padding-bottom: 25px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      ul {
        text-align: center;
        padding: 25px;
        margin: 0;
      }

      li {
        display: inline;
        padding: 5px;
      }

      a {
        color: $main-text-colour;
        text-decoration: none;
      }

      a:hover {
        color: $link-colour-1;
      }
    }
  }
}
