a {
  color: $link-colour-1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.news_entry_category_selector {
  margin-top: -5px;
  margin-bottom: 17px;

  .contributions_feed {
    float: right;
  }
}

ul.administration {
  padding: 0;

  li {
    display: inline;
    padding-right: 5px;
  }
}

ul.comment_administration {
  padding: 0;
  margin-bottom: 0;

  li {
    display: inline;
    padding-right: 5px;
  }
}

ul.thumbnail_and_name_list {
  list-style-type: none;

  li {
    margin-left: -40px;
    padding-right: 0px;

    img {
      padding-top: -20px;
      border-radius: 12px;
    }

    h3 {
      margin-top: -34px;
      margin-left: 35px;
      padding-right: 10px;
    }
  }
}

ul#contributors {
  padding: 0;

  li {
    display: inline;
    padding-right: 5px;
  }
}

div#resources {
  margin-top: 20px;
  width: 623px;

  img {
    margin-top: 0;
  }
}

div.resource {
  border: $border-properties;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  overflow-x: hidden;
  background-color: $input-background-colour;
  background: linear-gradient(to top, #343434, #454545);

  img {
    margin-top: 20px;
  }

  li {
    font-size: 12px;
  }
}

div.thumbnail {
  width: 150px;
  height: 150px;
  float: left;
  clear: none;
  padding-left: 20px;
  padding-top: 20px;

  img {
    margin-top: 0;
    text-align: center;
    border-radius: 5px;
    border: $border-properties;
  }
}

div.details {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;

  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

div.comment_thumbnail {
  width: 75px;
  height: 75px;
  float: left;
  clear: none;
  padding-left: 20px;
  padding-top: 20px;

  img {
    margin-top: -3px;
    text-align: center;
    border-radius: 5px;
    border: $border-properties;
  }
}

div.comment_details {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;

  p.name_and_date {
    padding-top: 3px;
    font-size: 12px;
  }

  p {
    font-size: 12px;
    margin-bottom: 0;
  }

  img {
    margin-top: 0;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 0;
  }

  audio {
    margin-top: 20px;
  }

  video {
    margin-top: 20px;
  }

  iframe {
    margin-top: 20px;
  }

  div {
    margin-top: 20px;
    padding-bottom: 8px;
    text-align: center;
  }

  div.onebox {
    margin-top: 10px;
  }
}

nav.pagination {
  margin-top: 25px;
  clear: both;
}

nav.chapters {
  clear: both;
}

p.links {
  clear: both;
}

.unpublished {
  color: $alert-text;
}

.unviewed {
  color: $alert-text;
}

.completed {
  color: $good-text;
}

.incomplete {
  color: $alert-text;
}

blockquote {
  font-style: italic;
}

div#flash_notice {
  padding-bottom: 25px;
  color: $good-text;
}

div#flash_alert {
  padding-bottom: 25px;
  color: $bad-text;
}

div#errorExplanation {
  color: $bad-text;
  background-color: $input-background-colour;
  border: $border-properties;
  padding-left: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
}

div#errorExplanation h2 {
  text-shadow: 0 0 0;
}

.field_with_errors {
  display: inline;
}
