$link-colour-1: #B5B7B4;
$link-colour-2: #A09682;
$main-text-colour: #EEEEEE;
$main-font-size: 13px;
$good-text: #00FF44;
$alert-text: #FFAA00;
$bad-text: #FF2200;
$border-properties: 1px solid #333333;
$header-background-colour: #111111;
$input-background-colour: #343434;
