div.wysiwym
{
    line-height: 0.9em;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

button.tagbuttons
{
	float: left;
	font-size: 0.9em;
	padding: 1px 2px 1px 2px;
	margin: 0px;
    width: auto;
    overflow: visible;
}

button::-moz-focus-inner{padding:0;}

div#modalWindow
{
	display: none;
}

div.row {
	overflow: auto;
	margin-top: 5px;
}

div.row span.label {
  float: left;
  width: 75px;
  height: 20px;
  line-height: 20px;
  text-align: right;
}

div.formw {
  margin-left: 85px;
  text-align: left;
}

div.formw input {
  width: 100%;
  padding: 0px;
  height: 20px;
}

div.textareacontainer {
  padding-right: 6px;
  margin: 0px;
}

div.formw textarea {
  width: 100%;
  padding: 3px;
  margin: 0px;
  overflow: auto;
}

