<div class="form-group">
  <%= f.label :encyclopaedia_entry_picture, 'Encyclopaedia Entry Picture*' %>
  <% if encyclopaedia_entry.encyclopaedia_entry_picture? %>
    <% if is_jpeg encyclopaedia_entry.encyclopaedia_entry_picture.url %>
      <p>
        <%=
          show_picture(
            encyclopaedia_entry, 'encyclopaedia_entry_picture', :thumbnail
          )
        %>
      </p>
    <% end %>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :encyclopaedia_entry_picture, class: 'form-control' %>
  <%= render 'admin/shared/form/image_type_warning' %>
</div>
