<ul class="category-subcategories__list--for-sub-category">
  <% category.ordered_categorisations.each do |categorisation| %>
    <li class="category-subcategories__list-item">
      <%= link_to(
        categorisation.short_name_in_parent,
        category_path(categorisation.subcategory)
      ) %>
    </li>
  <% end %>
</ul>
