<section class="cards">
  <% music_tracks.each do |music_track| %>
    <article class="card">
      <% if music_track.music_track_picture.present? %>
        <div class="card__picture">
          <%= link_to(
            show_picture(music_track, 'music_track_picture', :original),
            redesign_music_track_path(music_track)
          ) %>
        </div>
      <% end %>
      <%= render(
        partial: 'redesign/shared/card_details',
        locals: {
          record: music_track,
          record_path: redesign_music_track_path(music_track),
          show_description: !descriptions_are_identical?(music_tracks),
          has_picture: music_track.music_track_picture.present?
        }
      ) %>
      <div class="card__footer"></div>
    </article>
  <% end %>
  <footer class="cards__footer">
    <%= paginate music_tracks %>
  </footer>
</section>
