<nav class="album-navigation">
  <% if previous_albumable(albumable) %>
    <%= link_to '‹ Previous in Album', previous_albumable(albumable) %>
  <% else %>
    <s>‹ Previous in Album</s>
  <% end %>
    |
  <% if next_albumable(albumable) %>
    <%= link_to 'Next in Album ›', next_albumable(albumable) %>
  <% else %>
    <s>Next in Album ›</s>
  <% end %>
</nav>
