<div class="form-group">
  <%= f.label :video_picture, 'Video Picture' %>
  <% if video.video_picture? %>
    <p><%= show_video_picture video, :thumbnail %></p>
    <p>File has already been uploaded. Replace file?</p>
  <% end %>
  <%= f.file_field :video_picture, class: 'form-control' %>
  <%= render 'admin/shared/form/image_type_warning' %>
</div>
