<div class="form-group">
  <%= f.label :sequence_number, 'Sequence Number' %>
  <%=
    f.number_field(
      :sequence_number,
      { min: 1, max: 999, class: 'form-control' }
    )
  %>
  <%=
    render(
      partial: 'admin/shared/form/info',
      locals: {
        info: 'Used to determine the order of pictures and videos within an ' \
          "album."
      }
    )
  %>
</div>
