 <div class="form-group">
  <%= f.label :youtube_video_id, 'YouTube Video ID' %>
  <%= f.text_field :youtube_video_id, class: 'form-control' %>
  <%=
    render(
      partial: 'admin/shared/form/info',
      locals: {
        info: "The ID of the video on Panzer Dragoon Legacy's YouTube " \
          'channel. If the URL of the YouTube video is ' \
          '"https://www.youtube.com/watch?v=lS0URL9xkQQ", then the YouTube ' \
          'Video ID is "lS0URL9xkQQ".'
      }
    )
  %>
</div>
