 <div class="form-group">
  <%= f.label :youtube_video_id, 'YouTube Video ID' %>
  <%= f.text_field :youtube_video_id, class: 'form-control' %>
  <small>
    If the URL of the YouTube video is 
    <code>https://www.youtube.com/watch?v=lS0URL9xkQQ</code>, then the YouTube
    Video ID is <code>lS0URL9xkQQ</code>.
  </small>
</div>
