<div class="form-group">
  <%= f.label :page_id, 'Encyclopaedia Page' %>
  <%=
    f.collection_select(
      :page_id,
      @pages,
      :id,
      :name,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
</div>
