<div class="form-group">
  <%= f.label :tag_id, 'Tag' %>
  <%=
    f.collection_select(
      :tag_id,
      @tags,
      :id,
      :name,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
</div>
