<div class="form-group">
  <%= f.label :number, 'Number*' %>
  <%= f.number_field :number, { min: 1, max: 99, class: 'form-control' } %>
  <%=
    render(
      partial: 'admin/shared/form/warning',
      locals: { 
        warning: 'Numbers are relative to the specified chapter type. E.g. ' \
        'if the chapter type is "Epilogue", enter number "1" for the first ' \
        'epilogue, number "2" for a second epilogue, etc.'
      }
    )
  %>
</div>
