<div class="form-group">
  <%= f.label :story_id, 'Story*' %>
  <%=
    f.collection_select(
      :story_id,
      Story.order(:name),
      :id,
      :name,
      { include_blank: true },
      { class: 'form-control' }
    )
  %>
</div>
