<% title "Encyclopaedia" %>

<% if policy(EncyclopaediaEntry).new? %>
  <ul class="administration">
    <li>
      <%= link_to 'New Encyclopaedia Entry', new_encyclopaedia_entry_path %>
    </li>
  </ul>
<% end %>

<% if @category_groups.present? %>
  <h2>Encyclopaedia Categories</h2>
  <%= render partial: 'site_map/category_groups', locals: {
    category_groups: @category_groups } %>
<% end %>

<% if @encyclopaedia_entries.present? %>
  <h2>All Encyclopaedia Entries</h2>
  <%= render 'list' %>
<% end %>
