<% title "Encyclopaedia" %>

<% if policy(EncyclopaediaEntry).new? %>
  <ul class="administration">
    <li>
      <%= link_to 'New Encyclopaedia Entry', new_encyclopaedia_entry_path %>
    </li>
  </ul>
<% end %>

<% unless @category_groups.empty? or @categories.empty? %>
  <h2>Encyclopaedia Categories</h2>
  <%= render partial: 'site_map/category_groups', locals: {
    category_groups: @category_groups, categories: @categories,
    category_group_type: :encyclopaedia_entry } %>
<% end %>

<% unless @encyclopaedia_entries.empty? %>
  <h2>All Encyclopaedia Entries</h2>
  <%= render 'list' %>
<% end %>
