<% title "Encyclopaedia" %>

<% if policy(EncyclopaediaEntry).new? %>
  <ul class="administration">
    <li><%= link_to 'New Encyclopaedia Entry', new_encyclopaedia_entry_path %></li>
  </ul>
<% end %>

<% unless @categories.empty? %>
  <h2>Encyclopaedia Categories</h2>
  <ul class="categories">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category %><% unless category.publish %> - <span class="unpublished">Unpublished</span><% end %></li>
  <% end %>
  </ul>
<% end %>

<% unless @encyclopaedia_entries.empty? %>
  <h2>All Encyclopaedia Entries</h2>
  <%= render 'list' %>
<% end %>