<div id="footer">
  <ul>
    <li><%= link_to 'About the Site', '/about-the-site' %></li>
    <li><%= link_to 'How to Contribute', '/how-to-contribute' %></li>
    <li>
      <%= link_to 'Copyright Information', '/copyright-information' %>
    </li>
  </ul>
</div>
