<div id="footer">
  <ul>
    <% {
      'About the Site': '/about-the-site',
      'How to Contribute': '/how-to-contribute',
      'Copyright Information': '/copyright-information',
    }.each do |key, value| %>
      <li><%= link_to key, value %></li>
    <% end %>
  </ul>
</div>
