<div id="header">
  <%=
    link_to(
      image_tag(
        'logo.png',
        id: 'logo',
        alt: 'Panzer Dragoon Legacy'
      ),
      root_url
    )
  %>
  <%= render 'layouts/social_media_links' %>
</div>
<div id="banner"></div>
