<div class="icons">
  <ul>
    <li>
      <a rel="me" href="https://bsky.app/profile/panzerdragoonlegacy.com">
        <i class="fa-brands fa-bluesky" title="Follow us on Bluesky"></i>
      </a>
    </li>
    <li>
      <a href="https://discordapp.com/invite/N3mrMh6">
        <i class="fab fa-discord" title="Join our Discord"></i>
      </a>
    </li>
    <li>
      <a href="https://www.patreon.com/panzerdragoonlegacy">
        <i class="fab fa-patreon" title="Join our Patreon"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/c/panzerdragoonlegacy">
        <i class="fab fa-youtube" title="Subscribe on YouTube"></i>
      </a>
    </li>
    <li>
      <a href="https://steamcommunity.com/groups/panzerdragoon">
        <i class="fab fa-steam" title="Join the Steam Group"></i>
      </a>
    </li>
  </ul>
</div>
