<h3>Partner Sites</h3>
<ul>
  <% {
    'NiGHTS into Dreams.com': 'http://www.nightsintodreams.com',
    'The Panzer Dragoon Saga Oasis': 'http://pdsoasis.github.io'
  }.each do |key, value| %>
    <li><%= link_to key, value %></li>
  <% end %>
</ul>
