<ul id="social_media_links">
  <% {
    'facebook-f': 'https://www.facebook.com/panzerdragoonlegacy',
    'twitter': 'https://www.twitter.com/panzerlegacy',
    'instagram': 'https://www.instagram.com/panzerdragoonlegacy',
    'youtube': 'https://www.youtube.com/c/thewilloftheancients',
    'steam': 'https://steamcommunity.com/groups/panzerdragoonlegacy',
    'discord': 'https://discordapp.com/invite/N3mrMh6'
  }.each do |key, value| %>
    <li><%= link_to icon('fab', key), value %></li>
  <% end %>
  <li>
    <%= link_to icon('fas', 'rss'), news_entries_url(:atom) %>
  </li>
</ul>
