<ul id="social_media_links">
  <% {
    'facebook-f': 'https://www.facebook.com/panzerdragoonlegacy',
    'twitter': 'https://www.twitter.com/panzerlegacy',
    'mastodon': 'https://mastodon.online/@PanzerDragoonLegacy',
    'instagram': 'https://www.instagram.com/panzerdragoonlegacy',
    'youtube': 'https://www.youtube.com/c/thewilloftheancients',
    'steam': 'https://steamcommunity.com/groups/panzerdragoon',
    'discord': 'https://discordapp.com/invite/N3mrMh6'
  }.each do |key, value| %>
    <li>
      <a href="<%= value %>"><i class="fab fa-<%= key %>"></i></a>
    </li>
  <% end %>
  <li>
    <a href="<%= news_entries_path(:atom) %>"><i class="fas fa-rss"></i></a>
  </li>
</ul>
