<div id="navigation">
  <%= form_tag searches_path, method: :post, id: 'search' do %>
    <%= text_field_tag :query, nil, placeholder: 'Search...' %>
  <% end %>
  <ul>
    <% {
      'Latest News': root_url,
      'Site Map': site_map_path,
      'Encyclopaedia': encyclopaedia_index_path,
      'Forum': 'https://discuss.panzerdragoonlegacy.com',
      'Contributors': contributor_profiles_path,
      'How to Contribute': '/how-to-contribute'
    }.each do |key, value| %>
      <li><%= link_to key, value %></li>
    <% end %>
  </ul>
</div>
